<div class="content">
    <div class="search-form">
        <form class="search">
            <mat-form-field class="example-full-width">
                <mat-label>Search...</mat-label>
                <input matInput type="search" placeholder="ex. CVE-2356-9654" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
                <button mat-button matSuffix mat-icon-button (click)="search()">
                <mat-icon color="primary">search</mat-icon>
              </button>
            </mat-form-field>
        </form>
    </div>
</div>