<div *ngIf="showLoader" class="lds-dual-ring"></div>
<mat-card 
    class="cve-card"
    *ngFor="let cve of cves">
    <mat-card-content class="cve-card-content">
        <span class="cve-text">Id: {{ cve?.id }}</span> <br>
        <span class="cve-text">
            Severity: <span [ngClass]="[(cve?.severity === 'MEDIUM')?'cve-text-yellow':'cve-text', (cve?.severity === 'HIGH')?'cve-text-red':'cve-text', (cve?.severity === 'LOW')?'cve-text-green':'cve-text']">
                {{ cve?.severity }}
            </span>
        </span> <br>
        <span class="cve-text">Description: {{ cve?.description }}</span> <br>
        <span class="cve-text">Last Modified: {{ cve?.lastModifiedDate }}</span> 
    </mat-card-content>
</mat-card>
