// img {
//     width: 100%;
//     height: 100%;
//     background-position: center;
// }
.content {
    position: relative;
    ;
}

.content img {
    background-position: center;
    width: 100%;
    height: 100%;
}

.content .btn {
    position: absolute;
    top: 65%;
    left: 44%;
}