footer {
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: gray;
}

img {
    width: 30px;
}

.telerik {
    width: 100px;
}

.do-it-wise {
    width: 40px;
    margin-bottom: -0.5%;
    margin-left: -1.3%;
}

a {
    color: rgb(182, 4, 4);
}

.left {
    position: relative;
    margin-left: 5%;
}

.right {
    position: relative;
    margin-right: 5%;
}