.whole-area {
    display: grid;
    grid-template-rows: 40% 20% 40%;
    height: 83vh;
}

.form {
    display: grid;
    grid-row: 2;
    grid-template-columns: 33.33% 33.33% 33.34%;
    width: 100%;
    height:100%;
}

.product-field {
    grid-column: 1;
    justify-content: center;
    color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 0.25em;
}

.vendor-field {
    grid-column: 2;
    justify-content: center;
    color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 0.25em;
}

.version-field {
    grid-column: 3;
    justify-content: center;
    color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 0.25em;
}

.example-viewport {
    height: 180px;
    width: 100%;
}

.example-item {
    height: 50px;
}

::-webkit-scrollbar {
    // Width of vertical scroll bar
    width: 8px;
    // Height of horizontal scroll bar
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
}

.first-row {
    display: grid;
    grid-template-rows: 90% 10% 10%;
    grid-template-columns: 33.33% 33.33% 33.34%;
}

.alert {
    grid-row: 3;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.success {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: #E0FFBB;
    margin-bottom: 0.25em;
}

.fail {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: #F58663;
    margin-bottom: 0.25em;
}

.invisible {
    visibility: hidden;
}

.third-row {
    grid-row: 3;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.34%;
}

.button-container {
    display: grid;
    grid-column: 2;
    grid-template-rows: 33.33% 33.33% 33.34%;
    align-items: center;
}

.submit {
    grid-row: 2;
    height: 80%;
    border-radius: 20px;
    font-size: large;
    background-color: #9D9D9D;
    cursor: pointer;
}

::ng-deep .red-snackbar {
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(247, 46, 46);
    margin-bottom: 80px !important;
}

::ng-deep .green-snackbar {
    font-size: x-large;
    font-weight: bold;
    background-color:  #BEF180;
    margin-bottom: 80px !important;
}