<div class='register'>
    <mat-card class="my-card">
        <mat-card-content>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <mat-form-field class="full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First name" name="firstName" ngModel required #fname="ngModel">
                </mat-form-field>&nbsp;&nbsp;&nbsp;
                <mat-form-field class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" name="lastName" ngModel required #lname="ngModel">
                </mat-form-field>&nbsp;&nbsp;&nbsp;
                <mat-form-field class="full-width">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" name="username" ngModel required #username="ngModel">
                </mat-form-field>&nbsp;&nbsp;&nbsp;
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" name="email" ngModel required #email="ngModel">
                </mat-form-field>&nbsp;&nbsp;&nbsp;
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" name="password" ngModel required #password="ngModel">
                </mat-form-field>
                <button type="submit" mat-raised-button color="accent" [disabled]="f.invalid">
                        REGISTER
                        </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>