<app-main-nav></app-main-nav>
<div *ngIf="showLoader || productNamesLoaded === false" class="lds-dual-ring"></div>
<router-outlet *ngIf="productNamesLoaded === true"></router-outlet>
<app-footer></app-footer>