<div class="content">

    <div class="sarch-bar">
        <form class="search">
            <mat-form-field class="example-full-width">
                <mat-label>Search...</mat-label>
                <input matInput type="search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
                <button mat-button matSuffix mat-icon-button (click)="search()">
                <mat-icon color="primary">search</mat-icon>
              </button>
            </mat-form-field>
        </form>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="error" *ngIf="error">{{error}}</div>

    <div class="cves" *ngIf="CVEs">

        <table mat-table [dataSource]="result" multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplayCVE">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayCVE.length">
                    <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-description">
                            {{element.description}}<br><br>
                            <ul>CPEs:
                                <li *ngFor="let cpe of element.cpes">{{cpe}}</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplayCVE"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplayCVE;" class="example-element-row" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

    </div>

    <div class="products" *ngIf="Products">

        <table mat-table [dataSource]="result" multiTemplateDataRows>

            <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef> Product name </th>
                <td mat-cell *matCellDef="let element"> {{element.product}} </td>
            </ng-container>

            <ng-container matColumnDef="vendor">
                <th mat-header-cell *matHeaderCellDef> Vendor </th>
                <td mat-cell *matCellDef="let element"> {{element.vendor}} </td>
            </ng-container>

            <ng-container matColumnDef="version">
                <th mat-header-cell *matHeaderCellDef> Version </th>
                <td mat-cell *matCellDef="let element"> {{element.version}} </td>
            </ng-container>

            <ng-container matColumnDef="cpe">
                <th mat-header-cell *matHeaderCellDef> CVEs assigned </th>
                <td mat-cell *matCellDef="let element">
                    <i *ngIf="element.vulnerable" class="material-icons">check</i>
                    <i *ngIf="!element.vulnerable" class="material-icons">clear</i>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['product', 'vendor', 'version', 'cpe']"></tr>
            <tr mat-row *matRowDef="let element; columns: ['product', 'vendor', 'version', 'cpe'];" class="example-element-row" (click)="productSelected(element.id)"></tr>
        </table>
    </div>
</div>