.content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

table {
    width: 100%;
}

.search {
    font-size: 15pt;
}

.example-full-width {
    width: 50%;
}

input {
    color: whitesmoke;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: rgb(125, 125, 125);
}

tr.example-element-row:not(.example-expanded-row):active {
    background: rgb(125, 125, 125);
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.error {
    color: red;
    font-size: large;
}

.mat-radio-button {
    color: whitesmoke;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}