<div *ngIf="showLoader" class="lds-dual-ring"></div>
<div class="content">
    <div class="products-buttons">
        <button 
        class="product-but-new"
        mat-raised-button
        [routerLink]="['../new']"
        routerLinkActive="active">
        Add Product
    </button>
    </div>
    <div 
        [ngClass]="[(cpes[cpes.length-1])?'cpe-buttons':'invisible', (cancelButtonShow === false)?'invisible':'cpe-buttons']" 
        (click)="close()">
        <button class="cpe-cancel-button" mat-raised-button>Cancel</button>
    </div>
    <div 
        [ngClass]="[(cves[cves.length-1])?'cve-buttons':'invisible', (isCpeClicked === false)?'invisible':'cve-buttons']">
        <button 
            class="cve-link-button"
            mat-raised-button
            [disabled]="cvesToSave.length === 0"
            (click)="linkCveToProduct(clickedCpe?.name)">
            Link CVE
        </button>
    </div>
    <div 
        class="products">
        <mat-card 
            class="product-card"
            matRipple>
            <div 
                class="cpe-not-assigned"
                *ngIf="clickedProduct?.cpe === null || clickedProduct?.cves.length === 0">
                <mat-icon 
                    class="cpe-assigned-icon"
                    aria-hidden="false"
                    aria-label="Warning">
                    warning
                </mat-icon>
            </div>
            <div 
                class="cpe-assigned"
                *ngIf="clickedProduct?.cpe !== null && clickedProduct?.cves.length !== 0">
                <mat-icon class="cpe-assigned-icon" aria-hidden="false" aria-label="Warning">check_circle</mat-icon>
            </div>
            <mat-card-content class="card-content">
                <span class="text">Product: {{clickedProduct?.product}}</span>
                <span class="text">Vendor: {{ clickedProduct?.vendor }}</span> 
                <span class="text">Version: {{ clickedProduct?.version }}</span> 
            </mat-card-content>
            <mat-card-actions 
                class="actions">
                <button 
                    matTooltip="Delete Product"
                    [matTooltipPosition]="'right'"
                    class="product-card-delete-button"
                    mat-mini-fab color="primary"
                    aria-label="Delete Post icon button">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div 
        *ngIf="isProductClicked === true && isCpeClicked === false && hasCpe === 'none'"
        [ngClass]="(isProductClicked === true && hasCpe === 'none')?'cpes':'invisible'">
        <mat-card 
            class="cpe-card"
            matRipple
            *ngFor="let cpe of cpes">
            <mat-card-content class="cpe-card-content">
                <span class="text">Product: {{ cpe?.product }}</span>
                <span class="text">Vendor: {{ cpe?.vendor }}</span> 
                <span class="text">Version: {{ cpe?.version }}</span> 
                <span class="text">CPE Name: {{ cpe?.name }}</span> 
            </mat-card-content>
            <button
                matTooltip="Link Cpe To Product"
                [matTooltipPosition]="'right'"
                class="cpe-link-button"
                mat-icon-button
                aria-label="Link icon button"
                (click)="linkCpeToProduct(clickedProduct?.id, cpe?.name)"
                (click)="hideNotClicked(cpe?.name)"
                (click)="getCvesForCpe(cpe?.webName)">
                <mat-icon class="link-icon">link</mat-icon>
            </button>
        </mat-card>
    </div>
    <div 
        *ngIf="isProductClicked === true && isCpeClicked === true && hasCpe === 'none'"
        class="cpes">
        <mat-card 
            class="cpe-card"
            matRipple>
            <mat-card-content class="cpe-card-content">
                <span class="text">Product: {{ clickedCpe?.product }}</span>
                <span class="text">Vendor: {{ clickedCpe?.vendor }}</span> 
                <span class="text">Version: {{ clickedCpe?.version }}</span> 
                <span class="text">CPE Name: {{ clickedCpe?.name }}</span> 
            </mat-card-content>
        </mat-card>
    </div>
    <div 
        *ngIf="isProductClicked === true && hasCpe === 'exists'"
        [ngClass]="(isProductClicked === true && hasCpe === 'exists')?'single-product':'invisible'">
        <mat-card 
            class="single-product-card">
            <mat-card-content class="single-product-card-content">
                <span class="single-text">Product: {{ clickedProduct?.product }}</span>
                <span class="single-text">Vendor: {{ clickedProduct?.vendor }}</span> 
                <span class="single-text">Version: {{ clickedProduct?.version }}</span> 
                <span class="single-text">CPE Name: {{ clickedProduct?.cpe?.name }}</span> 
            </mat-card-content>
            <mat-card-actions class="single-actions">
                <button                    
                    matTooltip="Close Single Product View"
                    [matTooltipPosition]="'left'"
                    class="single-product-close-button"
                    mat-icon-button
                    aria-label="Close icon button"
                    (click)="close()">
                    <mat-icon class="close-icon">close</mat-icon>
                </button>
                <button
                    matTooltip="Break CPE/Product link"
                    [matTooltipPosition]="'left'"
                    class="single-product-unlink-button"
                    mat-icon-button
                    aria-label="Unlink icon button"
                    (click)="breakLinkToCpe(clickedProduct?.id)">
                    <mat-icon class="unlink-icon">link_off</mat-icon>
                </button>
                <button
                    matTooltip="Update CVEs"
                    [matTooltipPosition]="(cvesToSave.length >= 2)?'below':'left'"
                    class="single-product-update-button"
                    mat-icon-button
                    aria-label="Update icon button"
                    (click)="updateCvesInSingle(clickedProduct?.cpe?.webName)">
                    <mat-icon class="update-icon">update</mat-icon>
                </button>
                <button
                    *ngIf="cvesToSave.length >= 2"
                    matTooltip="Link Cves To Product"
                    [matTooltipPosition]="'below'"
                    class="cves-link-button"
                    mat-icon-button
                    aria-label="Link icon button"
                    (click)="linkCveToProduct(clickedProduct?.cpe?.name)"
                    (click)="checkIfProductHasCpe(clickedProduct?.cpe)"
                    (click)="hideNotClicked(clickedProduct?.id)"
                    (click)="getCvesFromLocalDb(clickedProduct.cpe?.name)">
                    <mat-icon class="link-icon">link</mat-icon>
                </button>
            </mat-card-actions>
            <div 
                *ngIf="updateClicked === true"
                class="cves-in-single">
                <mat-card 
                    class="cve-card"
                    *ngFor="let newCve of newCves">
                    <mat-card-content 
                        class="cve-card-content"
                        (click)="openSingleCveDialog(newCve?.id)">
                        <span class="cve-text">Id: {{ newCve?.id }}</span>
                        <span class="cve-text">
                            Severity: <span [ngClass]="[(newCve?.severity === 'MEDIUM')?'cve-text-yellow':'cve-text', (newCve?.severity === 'HIGH')?'cve-text-red':'cve-text', (newCve?.severity === 'LOW')?'cve-text-green':'cve-text']">
                                {{ newCve?.severity }}
                            </span>
                        </span> 
                        <span class="cve-text">Description: {{ newCve?.description }}</span> 
                        <span class="cve-text">Last Modified: {{ newCve?.lastModifiedDate }}</span> 
                    </mat-card-content>
                    <mat-checkbox 
                        (change)="checkboxClicked($event, newCve)"
                        class="updated-cve-checkbox">
                    </mat-checkbox>
                    <mat-card-actions class="updated-cve-single-actions">
                        <button
                            *ngIf="cvesToSave.length < 2"
                            matTooltip="Link CVE To Product"
                            [matTooltipPosition]="'left'"
                            class="updated-cve-link-button"
                            mat-icon-button
                            aria-label="Link icon button"
                            (click)="linkCveToProduct(clickedProduct?.cpe.name)"
                            (click)="checkIfProductHasCpe(clickedProduct?.cpe)"
                            (click)="hideNotClicked(clickedProduct?.id)"
                            (click)="getCvesFromLocalDb(clickedProduct.cpe?.name)">
                            <mat-icon class="cve-link-icon">link</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
                <mat-card 
                    class="cve-card"
                    *ngFor="let oldCve of oldCves">
                    <mat-card-content 
                        class="cve-card-content"
                        (click)="openSingleCveDialog(oldCve?.id)">
                        <span class="cve-text">Id: {{ oldCve?.id }}</span>
                        <span class="cve-text">
                            Severity: <span [ngClass]="[(oldCve?.severity === 'MEDIUM')?'cve-text-yellow':'cve-text', (oldCve?.severity === 'HIGH')?'cve-text-red':'cve-text', (oldCve?.severity === 'LOW')?'cve-text-green':'cve-text']">
                                {{ oldCve?.severity }}
                            </span>
                        </span> 
                        <span class="cve-text">Description: {{ oldCve?.description }}</span> 
                        <span class="cve-text">Last Modified: {{ oldCve?.lastModifiedDate }}</span> 
                    </mat-card-content>
                    <mat-checkbox 
                        [checked]="true"
                        class="cve-checkbox">
                    </mat-checkbox>
                </mat-card>
            </div>
            <div 
                *ngIf="updateClicked === false"
                class="cves-in-single">
                <mat-card 
                    class="cve-card"
                    *ngFor="let cveInSingle of cvesToShowInSingle">
                    <mat-card-content 
                        class="cve-card-content"
                        (click)="openSingleCveDialog(cveInSingle?.id)">
                        <span class="cve-text">Id: {{ cveInSingle?.id }}</span>
                        <span class="cve-text">
                            Severity: <span [ngClass]="[(cveInSingle?.severity === 'MEDIUM')?'cve-text-yellow':'cve-text', (cveInSingle?.severity === 'HIGH')?'cve-text-red':'cve-text', (cveInSingle?.severity === 'LOW')?'cve-text-green':'cve-text']">
                                {{ cveInSingle?.severity }}
                            </span>
                        </span> 
                        <span class="cve-text">Description: {{ cveInSingle?.description }}</span> 
                        <span class="cve-text">Last Modified: {{ cveInSingle?.lastModifiedDate }}</span> 
                    </mat-card-content>
                    <mat-checkbox 
                        [checked]="true"
                        class="cve-checkbox">
                    </mat-checkbox>
                </mat-card>
            </div>
        </mat-card>
    </div>
    <div 
        class="cves"
        *ngIf="isCpeClicked === true && hasCpe === 'none'">
        <mat-card 
            class="cve-card"
            matRipple
            *ngFor="let cve of cves">
            <mat-card-content 
                class="cve-card-content"
                (click)="openSingleCveDialog(cve?.id)">
                <span class="cve-text">Id: {{ cve?.id }}</span>
                <span class="cve-text">
                    Severity: <span [ngClass]="[(cve?.severity === 'MEDIUM')?'cve-text-yellow':'cve-text', (cve?.severity === 'HIGH')?'cve-text-red':'cve-text', (cve?.severity === 'LOW')?'cve-text-green':'cve-text']">
                        {{ cve?.severity }}
                    </span>
                </span> 
                <span class="cve-text">Description: {{ cve?.description }}</span> 
                <span class="cve-text">Last Modified: {{ cve?.lastModifiedDate }}</span> 
            </mat-card-content>
            <mat-checkbox 
                class="cve-checkbox"
                (change)="checkboxClicked($event, cve)">
            </mat-checkbox>
        </mat-card>
    </div>
</div>  