// .full-width {
//     width: 100%;
// }
.login {
    height: 100%;
}

.my-card {
    position: fixed;
    top: 30%;
    left: 40%;
    height: 35%;
    width: 20%;
}

button {
    float: right;
}

// .whole-area {
//     display: grid;
//     grid-template-columns: 20% 20% 20% 20% 20%;
//     height: 93%;
// }
// .active-part {
//     grid-column-start: 4;
//     grid-column-end: 6;
//     height: 93%;
// }
// .inactive-part {
//     grid-column-start: 1;
//     grid-column-end: 4;
//     height: 93%;
// }
// #team10 {
//     width: 95%;
//     margin-top: 20%;
//     padding-left: 15px;
// }
// h2 {
//     font-weight: bolder;
//     text-align: right;
//     margin-right: 20px;
// }